@charset "utf-8";
body { margin:0; padding:0; width:100%;}
html { padding:0; margin:0;}

/* main */
@font-face {
	font-family: 'Jura';
	src: url('http://azuru.net/test/fonts/Cassannet.otf') format('opentype');
	
}
.main {
	width:100%; 
	padding:0; 
	margin:0 auto; 
	
}

/* header */
.header { 
	height:57px; 
	background:#212121; 
	
}

	.block_header {
		margin:0 auto; 
		width:950px; 
		padding:0; 
		border:none;
		
	}
	
.logo { 
	float:left; 
	padding:0; 
	margin:0; 
	width:155px;
	
}
.menu {
	float: right;
	width: 380px;
	height: 100%;
	
}
	.menu ul {
		width:380px;
		list-style: none;
		text-align: right;
		padding-right: 20px;
	
	}
		.menu ul li {
			font-family: 'Jura', sans-serif;
			display: inline-block;
			height: 100%;
			vertical-align: middle;
			margin-right: 10px;
			color: #ccc;
			font-size: 18px;
		
		}
			.menu ul li:hover {
				cursor: pointer;
				color: #ddd;
			
			}
				.menu ul li:link {
					text-decoration:none;
				
				}
					.menu ul li a {
						font-family: 'Jura', sans-serif;
						display: inline-block;
						height: 100%;
						vertical-align: middle;
						margin-right: 10px;
						color: #ccc;
						font-size: 18px;
						
					}
						.menu ul li a:hover {
							cursor: pointer;
							color: #ddd;
						
						}
							.menu ul li a:link {
								text-decoration:none;
								
							}
/* slider */

.slider {
	background: #2E61BF top center repeat-x;
	margin:0 auto; 
	padding:0; 
	height:378px;
	
}
	.slider div.slice1 { 
		margin:0 auto; 
		width:890px; 
		padding:0;
		
	}
		.slider div div div { 
			margin:0; 
			padding:0; 
			width:880px;  
			border:0;
			
		}
			.slider div div div p.img { 
				float:right; 
				width:483px; 
				padding:29px 0 0 0; 
				margin:0;
				
			}
				.slider div div div h2 {
					width:378px; 
					float: left; 
					font:bold 36px Arial, Helvetica, sans-serif; 
					color:#fff;  
					margin:0; 
					padding:50px 0 0 10px; 
					line-height:1.2em; 
					text-transform:uppercase;
					
				}
					.slider div div div p { 
						width:378px; 
						float: left; 
						font:normal 11px   Arial, Helvetica, sans-serif; 
						color:#262626; 
						margin:0; 
						padding:20px 0 0 10px; 
						line-height:1.8em;
						
					}
/* slider2 */

.slider2 {
	background: #2E61BF top repeat-x; 
	margin:0 auto; 
	padding:0; 
	height:89px;
	
}
	.slider2_resize { 
		width:950px; 
		margin:0 auto; 
		padding:0;
		
	}
		.slider2_resize h2 {
			width:445px; 
			float: left; 
			font:bold 36px Arial, Helvetica, sans-serif; 
			color:#fff;   
			margin:0; 
			padding:20px 0 0 30px; 
			line-height:1.2em; 
			text-transform:uppercase;
			
		}
			.slider2_resize p { 
				width:350px; 
				float: right; 
				font:normal 11px   Arial, Helvetica, sans-serif; 
				color:#212121; 
				margin:0; 
				padding:20px 0 0 10px; 
				line-height:1.8em;
				
			}
/* divider */

.divider_resize {
	background: #212121;
	/*background: url(images/bg_body_top.gif) top repeat-x; */
	height:234px;
	
}
	.divider_resize2 {
		background: #212121;
		/*background: url(images/bg_body_top2.gif) top repeat-x; */
		height:46px;
		
	}
		.divider_resizee { 
			width:950px; 
			margin:0 auto;  
			padding:0;
			
		}
.divider { 
	width:289px; 
	float:left;
	margin:0; 
	padding:10px 5px 10px 20px;
	
}
	.divider h2 { 
		font: bold 18px Arial, Helvetica, sans-serif; 
		color:#fff; 
		border-bottom:1px solid #3d3d3d; 
		padding:10px 5px; margin:0;
		
	}
		.divider p { 
			color:#acacac; 
			font:normal 11px Arial, Helvetica, sans-serif;
			line-height:1.8em;
			padding:5px 5px; 
			margin:0;
			
		}
			.divider img { 
				float:left; 
				margin:10px 10px;
				padding:0;
				
			}
				.divider a {
					color:#ac5400;
					text-decoration:none;
					
				}
.menu_sub { 
	padding:0; 
	margin:0;
	width:380px;
	float:left;
	
}
	.menu_sub ul { 
		padding:9px 0;
		margin:0;
		list-style:none; 
		border:0;
		
	}
		.menu_sub ul li {
			float:left; 
			margin:0;
			padding:0; 
			border:0;
			
		}
			.menu_sub ul li a { 
				float:left;
				margin:0;
				padding:11px 17px;
				color:#fff;
				font:normal 12px  Arial, Helvetica, sans-serif;
				text-decoration:none;
				
			}
				.menu_sub ul li a:hover { 
					background:#ebebeb;
					color:#282828;
					
				}
					.menu_sub ul li a.active {
						background:#ebebeb; 
						color:#282828;
						
					} 
/* body */

.body { 
	border-top:1px solid #fff; 
	background:#ebebeb; 
	
}

	.body h2 { 
		font:bold 18px Arial, Helvetica, sans-serif; 
		color:#0b0b0b; 
		border-bottom:1px solid #dcdcdc; 
		padding:10px 5px; 
		margin:0;
		
	}
		.body h3 { 
			font:bold 20px Arial, Helvetica, sans-serif; 
			color:#252525;  
			padding:10px 5px; 
			margin:0;
			
		}
			.body h4 { 
				font:bold 12px Arial, Helvetica, sans-serif; 
				color:#252525;  
				padding:10px 5px; 
				margin:0;
				
			}
	.body p { 
		font:normal 12px Arial, Helvetica, sans-serif; 
		color:#6d6d6d; 
		line-height:1.8em; 
		padding:5px 5px; 
		margin:0;
		
	}
		.body p.grey { 
			font: normal 11px Arial, Helvetica, sans-serif; 
			color:#b0b0b0; 
			line-height:1.8em; 
			padding:5px 5px; 
			margin:0;
			
		}
			.body p span { 
				color:#ac5400;
				
			}
	.body a { 
		font:bold 12px Arial, Helvetica, sans-serif; 
		color:#5f5f5f; 
		text-decoration:none;
		
	}
	.body em { 
		color:#383838;
		
	}
	.body img { 
		float: left; 
		margin:10px 5px; 
		padding:0;
		
	}
		.body img.nomargin { 
			float:none; 
			text-align:center; 
			margin:10px 1px; 
			padding:0;
			
		}
			.body img.work { 
				float:left; 
				margin:10px 30px 10px 10px; 
				padding:0;
				
			}
	.body_resize { 
		width:950px; 
		margin:0 auto; 
		padding:0;
		
	}
	.right { 
		width:604px; 
		float:left; 
		margin:20px 5px 10px 5px; 
		padding:5px;
		
	}
		.right ul { 
			list-style:none; 
			margin:5px 20px; 
			padding:0;
			
		}
			.right li { 
				font: bold 12px Arial, Helvetica, sans-serif; 
				color:#6f6f6f;
				padding:5px 20px;
				margin:0;
				background:url(images/about_ul_li.gif) left no-repeat;
				
			}
	.left { 
		width:300px; 
		float:left; 
		margin:20px 5px 10px 5px; 
		padding:5px;
		
	}
	.buttoms { 
		width:200px; 
		margin:10px auto; 
		text-align:center; 
		padding:0;
		
	}
		.buttoms a { 
			font: bold 12px Arial, Helvetica, sans-serif; 
			color:#9f9f9f; 
			text-decoration:none;
			padding:3px 5px;
			margin:0 3px;
			
		}
			.buttoms a:hover { 
				color:#000; 
				background:#f1f1f1;
				border:1px solid #d6d6d6;
				
			}
/*contact form */

#contactform { 
	margin:0; 
	padding:5px 10px;
	
}
	#contactform * { 
		color:#F00;
		
	}
		#contactform ol { 
			margin:0; 
			padding:0; 
			list-style:none;
			
		}
			#contactform li { 
				margin:0; 
				padding:0; 
				background:none; 
				border:none; 
				display:block;
				
			}
				#contactform li.buttons { 
					margin:5px 0 5px 0;
					
				}
					#contactform label { 
						margin:0; 
						width:110px; 
						display:block; 
						padding:10px 0; 
						color:#6d6d6d; 
						font: bold 12px Arial, Helvetica, sans-serif; 
						text-transform:capitalize; 
						float:left;
						
					}
						#contactform label span { 
							color:#F00;
							
						}
							#contactform input.text { 
								width:380px; 
								border:1px solid #d4d4d4; 
								margin:10px 0; 
								padding:5px 2px;
								height:16px; 
								background:#fff;
								float:left;
								
							}
								#contactform textarea { 
									height:300px; 
									width:380px; 
									border:1px solid #d4d4d4; 
									margin:10px 0; 
									padding:2px; 
									background:#fff; 
									float:left;
									
								}
									#contactform li.buttons input { 
										padding:3px 0 3px 110px; 
										margin:0; 
										border:0; 
										color:#FFF; 
										float:left;
										
									}
	p.response { 
		text-align:center; 
		color:#666666; 
		font: normal 11px  Georgia, "Times New Roman", Times, serif; 
		line-height:1.8em; 
		width:auto;
		
	}
/* footer */

.footer {
	padding:10px 0;  
	margin:0; 
	border-top:1px solid #fff; 
	background:#e1e1e1;
	
}
	.footer_resize {
		width:950px;
		margin:0 auto;
		padding:0; 
		
	}
		.footer p { 
			font:normal 11px  Arial, Helvetica, sans-serif;
			color:#5f5f5f;
			
		}
			.footer a { 
				font:bold 11px Arial, Helvetica, sans-serif;
				color:#5f5f5f; 
				text-decoration:underline;
				padding:5px 5px;
				margin:0;
				
			}
				.footer img {
					margin:2px 5px; 
					padding:0;
					
				}
					.footer p.leftt { 
						text-align:left; 
						width:50%; 
						margin:0; 
						padding:20px 0; 
						float:left;
						
					} 
						.footer p.rightt { 
							text-align:right; 
							width:50%; 
							margin:0; 
							padding:20px 0; 
							float:right;
							
						} 
/* twitter */

.twitter { 
	background: #fff;
	width:283px; 
	margin:0 auto; 
	padding:0;
	
}
		.twitter_top { 
			padding:10px 20px 55px 20px;
			
		}
.twitter a { 
	color:#128fb4; 
	font:normal 12px Tahoma, Geneva, sans-serif;
	
}

p.clr, .clr { 
	clear:both; 
	padding:0; 
	margin:0; 
	background:none;
	
}
li.bg, .bg { 
	clear:both; 
	border-top:1px solid #dcdcdc; 
	padding:0; 
	margin:20px 0; 
	background:none; 
	line-height:0;
	
}